

<div class="container my-lg-5">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header ">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-envelope" style="color:#000000"></i></span>
						</div>
						<input [(ngModel)]="email" type="email" class="form-control" name="emailID" placeholder="Email ID">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key" style="color:#000000"></i></span>
						</div>
						<input [(ngModel)]="password" type="password" class="form-control" name="pwd"  placeholder="Password">
					</div>
          <br>
					<div class="form-group">
						<button (click)="SignUp()" type="submit" class="btn float-right btn-warning">Sign Up</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>